@charset "utf-8";

:root {
    --color1: #F2F2F2;
    --color2: #141414;
    --color3: #daa520;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--color1);
}

body {
    background: var(--color2);
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;

}

a {
    color:var(--color1);
    text-decoration: none;
}

.main-header {
    height: 55vh;
    padding: 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.main-header h1 span {
    color:var(--color3);
}

.main-header p {
    font-size: 2rem;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

img {
    width:100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:2rem;
    margin-bottom: 2rem;
    background: var(--color3);
    
}

.card h3 {
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
}

.card>div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: var(--color2);
    padding: 0.7rem 1.0rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity:0.7;
}

.galeria {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.galeria > div {
    flex: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .9s cubic-bezier(1, 1, 1, 1.2);
}

.galeria > div:hover { 
    flex: 5;
}

.second-header h2 {
    text-align: center;
    padding-bottom: 20px;
}

footer {
    background: var(--color2);
    text-align: center;
    padding: 0rem 0 1rem 0;
}

hr {
    margin: 1rem 20rem;
}

footer a {
    font-weight: 600;
    color: var(--color3)
}